{
  "dnssec": false,
  "kind": "Native",
  "name": "{{ tenant_domain_suffix }}.",
  "rrsets": [
    {
      "name": "{{ tenant_domain_suffix }}.",
      "records": [
        {
          "content": "ns01.{{ tenant_domain_suffix }}. root.{{ tenant_domain_suffix }}. {{ lookup('pipe','date +%Y%m%d%H') }} 10800 3600 604800 3600",
          "disabled": false
        }
      ],
      "ttl": 3600,
      "type": "SOA"
    },
    {
      "name": "{{ tenant_domain_suffix }}.",
      "records": [
        {
          "content": "ns01.{{ tenant_domain_suffix }}.",
          "disabled": false
        }
      ],
      "ttl": 3600,
      "type": "NS"
    }
  ]
}
