# Accept the VMware End User License Agreement
vmaccepteula

# Set root password
rootpw {{ common.esxi.password }}

# Install ESXi to the local disk
install --firstdisk --overwritevmfs

# Host Network Settings
network --bootproto=static --addvmportgroup=0 --ip={{ item.value.vmk.vmk0.address.ipv4.address }} --netmask={{ (item.value.vmk.vmk0.address.ipv4.address + '/' + item.value.vmk.vmk0.address.ipv4.prefix) | ansible.utils.ipaddr('netmask') }} --gateway={{ item.value.vmk.vmk0.address.ipv4.gateway }} --vlanid={{ item.value.vmk.vmk0.vlan }} --nameserver={{ common.dns.primary.ipv4 }},{{ common.dns.secondary.ipv4 }} --hostname={{ item.value.fqdn }}

# Disable ipv6
esxcli system module parameters set -m tcpip4 -p ipv6=0

# Reboot
reboot

# Open busybox and launch commands
%firstboot --interpreter=busybox
{% if item.value.enable_ssh %}
# Enable & start remote ESXi Shell (SSH)
vim-cmd hostsvc/enable_ssh
vim-cmd hostsvc/start_ssh

# Enable & start ESXi Shell (TSM)
vim-cmd hostsvc/enable_esx_shell
vim-cmd hostsvc/start_esx_shell

# Supress ESXi Shell warning
esxcli system settings advanced set -o /UserVars/SuppressShellWarning -i 1
{% endif %}

# Mark vsan cache disk as Flash disk
# esxcli storage nmp satp rule add -s VMW_SATP_LOCAL -d "$(esxcli storage core device capacity list | grep `expr {{ item.value.datastore.cache.size }} \* 1024`\ MiB | sed 's/.*\(mpx.*L[0-9]\).*/\1/')" -o enable_ssd

# Reclaim vsan Flash disk
# esxcli storage core claiming reclaim -d "$(esxcli storage core device capacity list | grep `expr {{ item.value.datastore.cache.size }} \* 1024`\ MiB | sed 's/.*\(mpx.*L[0-9]\).*/\1/')"

# Mark vsan capacity disk as Hard Disk Drive (i.e. NOT Flash) in case storage on physical host is Flash/SSD.  Required to ensure auto-claiming of drives for vsan is handled properly.
# esxcli storage nmp satp rule add -s VMW_SATP_LOCAL -d "$(esxcli storage core device capacity list | grep `expr {{ item.value.capacity.size }} \* 1024`\ MiB | sed 's/.*\(mpx.*L[0-9]\).*/\1/')" -o disable_ssd

# Disable CEIP
esxcli system settings advanced set -o /UserVars/HostClientCEIPOptIn -i 2

# Configure Syslog servers
# esxcli system syslog config set --loghost={{ common.syslog.protocol }}://{{ common.syslog.ipv4 }}:{{ common.syslog.port }}

# Configure DNS servers
esxcli network ip dns server add --server={{ common.dns.primary.ipv4 }}
esxcli network ip dns server add --server={{ common.dns.secondary.ipv4 }}

# Enable NTP
echo 'server {{ common.ntp.primary.ipv4 }} iburst' >> /etc/ntp.conf
echo 'server {{ common.ntp.secondary.ipv4 }} iburst' >> /etc/ntp.conf
chkconfig ntpd on
/etc/init.d/ntpd start

# Reboot
reboot
